package views

import "time"

templ TimeComponent(d time.Time) {
	<div>{ d.String() }</div>
}

templ NotFoundComponent() {
	<div>404 - Not found</div>
}

templ ResultsComponent(status string, zip string) {
	<div class="flex flex-col items-center justify-center py-5">
		<p class="py-2">{ status }</p>
		<a href={ templ.URL("/dl/"+zip+".zip") } target="_blank" class="btn btn-primary">
			Download
		</a>
	</div>
}